.cart {
    width: 100%;
    max-width: 330px;
    height: 100vh;
    background-color: rgb(255, 244, 221);
    border: 3px solid #60441b;
    padding: 100px 20px 20px;
    position: fixed;
    
    top: 0;
    right: 0; 
}