.nav-bar {
    width: 100%;
    padding: 1rem 0 1rem 0;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 7rem;
    padding-bottom: 6rem;
}